<h2>Experiencia Laboral</h2>

<div class="title-line "></div>

<div class="work-scroll">

    @for(item of experience(); track item.title){

        <div class="work-item">

            <div class="timeline">

                <span class="circle"></span>

                <span class="line"></span>

            </div>

            <div class="work-card">

                <h3>{{item.title}}</h3>

                <h4>{{item.institution}}</h4>

                <span class="period">

                    {{item.period}}

                </span>
                <p>

                    {{item.description}}

                </p>

            </div>

        </div>

    }

</div>