h2{
    margin:0;
    color:white;
    font-size:2rem;
    line-height:0.4;
}

.title-line{
    width:60px;
    height:3px;
    background:#00d9ff;
    margin:20px 0 0 00px;
}

.biography{
    display:flex;
    flex-direction:column;
    gap:14px;
}

.biography-card{
    display:flex;

    gap:18px;

    background:#1b1b1b;

    border-left:4px solid #00d9ff;

    border-radius:10px;

    padding:9px;

    margin-bottom:16px;

}

.icon{

    width:42px;

    height:42px;

    border-radius:50%;

    background:#111;

    display:flex;

    justify-content:center;

    align-items:center;

    flex-shrink:0;

}
.icon i{

    color:#00d9ff;

    font-size:1.4rem;

}

.bio-card h3{

    margin:0 0 3px;

    font-size:1rem;

    color:white;

}

.bio-card p{

    margin:0;

    color:#d5d5d5;

    line-height:1.45;

    font-size:.95rem;

    text-align:justify;

}