<h2>

    Biografía

</h2>

<div class="title-line"></div>

<div class="biography mt-5">

    <div class="biography-card">

        <div class="icon">

            <i class="devicon-gitbook-original"></i>

        </div>

        <div>

            <h3>Mi Historia</h3>

            <p>

                {{history}}

            </p>

        </div>

    </div>

    <div class="biography-card">

        <div class="icon">

            <i class="devicon-stackblitz-original"></i>

        </div>

        <div>

            <h3>Mi Objetivo</h3>

            <p>

                {{objective}}

            </p>

        </div>

    </div>



</div>